* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #ffe1a8; */
    background-color: #fdf1d8;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* MEDIA QUERIES */
@media screen and (max-width:600px) {
    .nav-responsive {position: relative;}
    .nav-responsive li:not(:first-child) {display: none;}
    .nav-responsive li.toggle-icon {
        float: right;
        display: block;
    }
    li.li-logout {
        float: left;
    }
}

@media screen and (max-width: 600px) {
    .nav-responsive.responsive {position: relative;}
    .nav-responsive.responsive li.toggle-icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-responsive.responsive li {
        float: none;
        display: block;
        text-align: left;
    }
    .nav-responsive.responsive .nav-item:not(:last-child) {width: 100%;}
}


/* NAVBAR */
nav {
    text-align: center;
}

.home {
    margin: auto;
    border: 1px solid #000;
}

#myResponsiveNav {
    /* display: flex;
    justify-content: flex-start; */
    height: 30px;
    width: 100%;
    border: 2px solid #2f0b52;
}

.navbar-nav {
    /* display: flex; */
    border: 1px solid #000;
}

.nav-item {
    float: left;
    border: 1px solid #000;
    width: fit-content;
    list-style: none;
} 

.toggle-icon {
    display: none;
}


/* BUTTONS */
.btn {
    padding: 4px 16px;
    background-color: #e4d6a6;
    border: none;
    border-radius: 6px;
    font-size: 1.8rem;
    font-weight: 500;
}

.btn-login {
    background-color: #ffffff;
}

.btn:hover {
    background-color: #e26d5c;
    color: #ffffff;
    transition: .3s;
    cursor: pointer;
}

.btn-neg:hover {
    background-color: #000;   
}

.btn-login:hover {
    background-color: #f1a782;
}



.attribution {
    width: 200px;
}

td {
    /* margin: 24px; */
    border: 1px solid #000;
    padding: 8px;
}

#loginChild {
    display: none;
}

.table-season-class {
    display: none;
}