* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #ffe1a8; */
    background-color: #fdf1d8;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.wrapper{
    margin: auto;
    max-width: 1200px;
    border: 1px solid #000;
}

/* NAVBAR */
nav {
    text-align: center;
}

.home {
    margin: auto;
    border: 1px solid #000;
}

#myResponsiveNav {
    /* display: flex;
    justify-content: flex-start; */
    height: 30px;
    width: 100%;
    border: 2px solid #2f0b52;
}

.navbar-nav {
    /* display: flex; */
    border: 1px solid #000;
}

.nav-item {
    float: left;
    border: 1px solid #000;
    width: fit-content;
    list-style: none;
} 

.toggle-icon {
    display: none;
}


/* BUTTONS */
.btn {
    padding: 4px 16px;
    background-color: #e4d6a6;
    border: none;
    border-radius: 6px;
    font-size: 1.8rem;
    font-weight: 500;
}

.btn-login {
    background-color: #ffffff;
}

.btn:hover {
    background-color: #e26d5c;
    color: #ffffff;
    transition: .3s;
    cursor: pointer;
}

.btn-neg:hover {
    background-color: #000;   
}

.btn-login:hover {
    background-color: #f1a782;
}


/* IMAGES */




/* FLEX CONTROLS */

.flex {
    display: flex;
}

.fcenter {
    justify-content: center;
}

.gap {
    gap: 12px;
}


/* SPACING CONTROLS */
.t12 {
    margin-top: 12px;
}

/* CAROUSELS */
.carousel-container {
    margin: auto;
}

.carousel-item-list {
    max-width: 800px;
    width: 70vw;
    display: flex;
    gap: 48px;
    scroll-behavior: smooth;
    overflow: auto;
    /* scroll-snap-type: x mandatory; */
    border: 1px solid #000;
}

.carousel-item {
    position: relative;
    flex: none;
    scroll-snap-align: start;
    width: 300px;
    height: 300px;
    background-color: #2f0b52;
}


.carousel-item-p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.carousel-item-list::-webkit-scrollbar {
    display: none;
  }
/* Hide scrollbar for IE, Edge and Firefox */
.carousel-item-list {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

/* INDEX CSS */
.compare-container {
    display: flex;
    justify-content: space-around;
}

.compare-box {
    display: block;
    position: relative;
    width: 40%;
    padding-top: 40%;
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.index-img-movie {
    background-image: url(./cinema.jpg);
}
.index-img-show {
    background-image: url(./show.jpg);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-top: 100%;
    opacity: 0;
    background-color: #000;
    z-index: -1;
}

.compare-p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(51, 46, 46, 0.5);
    color: #ffffff;
    font-size: 5vh;
    text-align: center;
    padding: 4px 12px;
    z-index: 2;
}

.compare-box:hover .compare-p {
    background-color: rgba(51, 46, 46, 0.7);
    transition: .3s;
}.compare-box:hover .overlay {
    opacity: .3;
    transition: .3s;
    z-index: 1;
}

.carousel-container {
    width: 70%;
    height: 400px;
    background-color: #e26d5c;
}

.random-box {
    width: 50%;
    height: 300px;
    background-color: #e26d5c;
}
.top-box {
    width: 25%;
    height: 150px;
    background-color: #e26d5c;
}

.attribution {
    width: 200px;
}

td {
    /* margin: 24px; */
    border: 1px solid #000;
    padding: 8px;
}

#loginChild {
    display: none;
}

.table-season-class {
    display: none;
}



/* MEDIA QUERIES */
/* Media queries for smartphones */
@media screen and (min-width: 320px) and (max-width: 640px) {
    .nav-responsive {position: relative;}
    .nav-responsive li:not(:first-child) {display: none;}
    .nav-responsive li.toggle-icon {
        float: right;
        display: block;
    }
    li.li-logout {
        float: left;
    }


    .nav-responsive.responsive {position: relative;}
    .nav-responsive.responsive li.toggle-icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-responsive.responsive li {
        float: none;
        display: block;
        text-align: left;
    }
    .nav-responsive.responsive .nav-item:not(:last-child) {width: 100%;}

}

/* Media queries for tablets */
@media screen and (min-width: 641px) and (max-width: 1024px) {
    .nav-responsive {
        /* background-color: #9280a4; */
    }
}

/* Media queries for PC screens */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .nav-responsive {
        /* background-color: #2f0b52; */
    }
}

/* Media queries for larger PC screens */
@media screen and (min-width: 1441px) {
    .nav-responsive {
        /* background-color: #2f0b52; */
    }
}
