{% extends "layout.html" %}

{% block title %}
    AJAX compare shows
{% endblock %}

{% block main %}

<h1>Tv Show Search</h1>
    
    <input type="text" id="searchShowInput" placeholder="Enter show title">

    <div id="searchResults"></div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="./../static/main.js"></script>


<div>
    <canvas id="myChart" style="width:100%; max-width:1200px;"></canvas>
</div>

<script>
    var currentResults = [];  // Store all search results
    var displayedResults = 10;  // Number of results to display initially
    const showTitles = [];
    const movieRatings = [];
    const showObjects = [];
    let counter = 0;
    const maxLenght = 10;

    let objectCounter = 0;
    let listOfSeries = [];
    let listOfSeriesData = [];


    function performShowSearch() {
        var query = document.getElementById('searchShowInput').value;
    
        $.ajax({
            type: 'POST',
            url: '/comparetvshows',
            data: { q: query },
            success: function(data) {
                currentResults = data.results;  // Assuming your API response has a 'results' property
    
                // Display the first 'displayedResults' results
                displayShowResults(currentResults.slice(0, displayedResults));
            },
            error: function(error) {
                console.log(error);
            }
        });

}
    
    
    
    
    
    
    function displayShowResults(results) {
        var resultsContainer = document.getElementById('searchResults');
        resultsContainer.innerHTML = '';
    
        if (results.length === 0) {
            resultsContainer.innerHTML = 'No results found.';
            return;
        }
    
        var ul = document.createElement('ul');
        ul.classList.add("results");
        results.forEach(function(result) {
            var li = document.createElement('li');
            li.addEventListener('click', function() {
                compareItemClick(this);
            })

            var dateStr = result.first_air_date || '';
            var year = dateStr.split('-', 1)[0];
            li.textContent = result.name + " (" + year + ")";  // Shows the tv show title and its year
            li.id = result.id;
            li.title = result.name;
            ul.appendChild(li);
            // li.appendChild(link);
            console.log("ratings are" + li.id + li.textContent);
        });
    
        resultsContainer.appendChild(ul);
    
        // close results div if the user clicks outside the div
        window.addEventListener("click", function(e) {
            if (e.target != document.querySelector(".results")) {
                ul.remove();
            }
        });

        function compareItemClick(dataObtained) {
            $.ajax({
                type: 'POST',
                url: '/showratings',
                data: { q: dataObtained.id },
                success: function(data) {
                    console.log("item clicked. id show is " + dataObtained.id)
                    const canvasContainer = document.querySelector(".canvasContainer");
                    const showData = {
                        title: dataObtained.title, 
                        rating: data 
                    };

                    listOfSeries.push(data);

                    if (window.chartInstance) {
                        window.chartInstance.destroy();
                    }
            
                    // Add movie data to showObjects
                    if (showObjects.length < maxLenght) {
                        showObjects.push(showData);
                        showTitles.push(dataObtained.title);
                        // canvasContainer.style.width = (counter+1)*100 + "px";
                        counter++;
                    } else {
                        showLimitMessage();
                    }
            
                    console.log("showObjects:", showObjects);
                    console.log("showTitles:", showTitles);
                    
                    showObjects.forEach((element) => console.log(element.title))
            
                    console.log("START GRAPH FUNCTION")
                    console.log(listOfSeries);

                    seasonLength = []
                    xyValuesList = [];
                    titleList = [];
                    highestCounter = 0;
                    maxEpisodesCounter = 0;

                    for (var i = 0; i < listOfSeries.length; i++) {
                        titleList[i] = showTitles[i].title;
                        console.log(titleList[i]);
                        episodesCounter = 0;


                        console.log('listOfSeries is', listOfSeries[i]);
                        for (j = 0; j < listOfSeries[i].length; j++) {
                            let seasonsArray = listOfSeries[i];
                            for (k = 0; k < seasonsArray.length; k++) {
                                //console.log("NUMBER IS " + seasonsArray[j][k]);
                                temporary = seasonsArray[k];
                                //console.log("TEMPORARY SEASON IS " + temporary)
                                tempList = [];
                                seasonLength[i] = temporary.length;
                                //console.log("TEMPORARY LENGTH IS " + temporary.length)
                                objectCounter[i] = 0;
        
                                for (var j = 0; j < seasonLength[i]; j++) {
                                    tempList.push({ x: episodesCounter, y: temporary[j], z: `E${j + 1}` })
                                    listOfSeriesData.push({ x: episodesCounter, y: temporary[j], z: `E${j + 1}` })
                                    episodesCounter++;
                                }

                                console.log('templist is', tempList)
                                xyValuesList.push(tempList);
                                console.log('list of ratings is', xyValuesList)
                                console.log('list of titles is', titleList)
                            }
                        }
                        console.log('all ratings' + listOfSeriesData)


                        if (maxEpisodesCounter < episodesCounter) {
                            maxEpisodesCounter = episodesCounter;
                        }
                    }

                    const ctx = document.getElementById('myChart').getContext('2d');

                    const datasets = xyValuesList.map((dataArray, index) => {
                        return {
                            label: titleList[index],
                            data: dataArray,
                            borderColor: `rgba(${(index * 50) % 255}, ${(index * 100) % 255}, ${(index * 150) % 255}, 1)`, // Generate different colors
                            backgroundColor: `rgba(${(index * 50) % 255}, ${(index * 100) % 255}, ${(index * 150) % 255}, 1)`, // Generate different colors
                            fill: false,
                            pointRadius: 5,
                            pointHoverRadius: 20,
                            tension: 0.1
                        };
                    });

                    const myCart = new Chart(ctx, {
                    type: "scatter",
                    data: {
                        datasets: datasets
                    },
                    options: {
                        // events:['click'],
                        legend: {display: false},
                        scales: {
                        xAxes: [{ticks: {min: 0, max:maxEpisodesCounter}}],
                        yAxes: [{ticks: {min: 0, max:10}}],
                        },

                        tooltips: {
                                enabled: true,
                                mode: 'single',
                                callbacks: {
                                    label: function(tooltipItem, xyValuesList) { 
                                        var dataset = xyValuesList.datasets[tooltipItem.datasetIndex];
                                        var point = dataset.data[tooltipItem.index];
                                        return ' (episode ' + (point.z) + ')' + ', vote:' + point.y;
                                    }
                                }
                            },
                        }
                    });
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    }

    document.getElementById("searchShowInput").addEventListener("keyup", function(event) {
        performShowSearch();
    });
    

</script>


{% endblock %}