{% extends "layout.html" %}

{% block title %}
    AJAX compare movies
{% endblock %}

{% block main %}

<h1 id="compareMovie">Movie Search</h1>
    
    <input type="text" id="searchMovieInput" placeholder="Enter Movie title">

    <div id="searchResults"></div>

    <div>
        <canvas id="moviesChart" style="width:100%; max-width:1200px; border: 1px solid #000;"></canvas>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="./../static/main.js"></script>
    <script>
        var currentResults = [];  // Store all search results
        var displayedResults = 10;  // Number of results to display initially
        const movieLabels = [];
        const movieRatings = [];
        const movieObjects = [];
        let counter = 0;
       
        
        function performMovieSearch() {
            var query = document.getElementById('searchMovieInput').value;
        
            $.ajax({
                type: 'POST',
                url: '/comparemovies',
                data: { q: query },
                success: function(data) {
                    currentResults = data.results;  // Assuming your API response has a 'results' property
        
                    // Display the first 'displayedResults' results
                    displayMovieResults(currentResults.slice(0, displayedResults));
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
        
        function displayMovieResults(results) {
            var resultsContainer = document.getElementById('searchResults');
            resultsContainer.innerHTML = '';
        
            if (results.length === 0) {
                resultsContainer.innerHTML = 'No results found.';
                return;
            }
        
            var ul = document.createElement('ul');
            ul.classList.add("results");
            results.forEach(function(result) {
                var li = document.createElement('li');
                li.addEventListener('click', function() {
                    compareItemClick(this);
                })
        
                var date2Str = result.release_date || '';
                var year2 = date2Str.split('-', 1)[0];
                li.textContent = result.title + " (" + year2 + ")";  // Shows the tv show title and its year
                li.title = result.title;
                li.plot = result.overview;
                li.rating = result.vote_average;
                li.poster = result.poster_path;
                li.date = year2;
                
                ul.appendChild(li);
                // li.appendChild(link);
            });
        
            resultsContainer.appendChild(ul);
        
            // close results div if the user clicks outside the div
            window.addEventListener("click", function(e) {
                if (e.target != document.querySelector(".results")) {
                    ul.remove();
                }
            });
        }

        document.getElementById("searchMovieInput").addEventListener('keyup', function(event) {
                performMovieSearch(); 
            });



        function compareItemClick(dataObtained) {
        if (window.chartInstance) {
            window.chartInstance.destroy();
        }
        console.log("display chart data started")
        counter++;
        
        const movieData = {
            title: dataObtained.title, 
            rating: dataObtained.rating, 
            poster: dataObtained.poster, 
            date: dataObtained.date,
            plot: dataObtained.plot
        };
    
        // Add movie data to movieObjects
        movieObjects.push(movieData);
        movieLabels.push(dataObtained.title);  
        console.log("movieObjects:", movieObjects);
        console.log("movieLabels:", movieLabels);
        
        movieObjects.forEach((element) => console.log(element.title))

        const ratings = movieObjects.map((movie) => movie.rating);
        const datasss = {
            labels: movieLabels,
            datasets: [{
                data: ratings,
            }
            ]
        };
        window.chartInstance =  new Chart('moviesChart', {
            type: 'bar',
            data: datasss,
            options: {
                responsive: true,
                scales: {
                    xAxes: [{ticks: {min: 0, max: 10}}],
                    yAxes: [{ticks: {min: 0, max: 10}}]
                },
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Movie ratings'
                    }
                },

            tooltips: {
                enabled: true,
                mode: 'single',
                callbacks: {
                    label: function(tooltipItem) {
                        console.log("tooltipItem:", tooltipItem);

                        const index = tooltipItem.index;
                        const movie = movieObjects[index];

                        console.log("Accessed movie:", movie);
                        
                        return `${movie.title} - Rating: ${movie.rating} - Plot: ${movie.plot} - Img: ${movie.poster_path}`;
                    }
                }
            },
            }})
        ;
        }

    </script>

{% endblock %}