{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<h1>Tv Show Search</h1>
    
<div class="search-container">
    <input type="text" id="searchInput" placeholder="Enter a title">
    <div id="searchResults"></div>
</div>

<div class="index-container">
    <div class="compare-container">
        <a href="" class="compare-box index-img-movie">
            <p class="compare-p">Compare Movies</p>
        </a>
        <a href="" class="compare-box index-img-show">
            <p class="compare-p">Compare Shows</p>
        </a>
    </div>
</div>

<div class="popular-container carousel-container">
    <h4>Popular Movies</h4>
</div>

<div class="popular-container carousel-container">
    <h4>Popular Shows</h4>
</div>

<div class="random-container flex fcenter gap t12">
    <div class="random-box"></div>
    <div class="random-box"></div>
</div>

<div class="top-container flex fcenter gap t12">
    <div class="top-box"></div>
    <div class="top-box"></div>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="./../static/main.js"></script>
{% endblock %}