{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<h1>Tv Show Search</h1>
    
<div class="search-container">
    <input type="text" class="search-class" id="searchInput" placeholder="Enter a title">
    <div id="searchResults"></div>
</div>

<div class="index-container m60auto">
    <div class="compare-container">
        <a href="" class="compare-box index-img-movie">
            <div class="overlay"></div>
            <p class="compare-p">Compare Movies</p>
        </a>
        <a href="" class="compare-box index-img-show">
            <div class="overlay"></div>
            <p class="compare-p">Compare Shows</p>
        </a>
    </div>
</div>


<div class="popular-container carousel-container m60auto">
    <h4>Popular Movies</h4>
    <div class="carousel-view">
        <div class="btn-control prev-btn" id="movieBtnPrev" ><i class="fa-solid fa-angle-left"></i></div>
        <div class="carousel-item-list" id="movieCarouselList">
            {% for page in popular_movie_list %}
                {% for movie in page["results"] %}
                    <a class="carousel-item" href="movie/{{ movie["id"] }} ">
                        <img class="poster-img" src="https://image.tmdb.org/t/p/w440_and_h660_face/{{ movie["poster_path"] }}" alt=""> 
                        <p class="carousel-item-p">{{ movie["title"] }}</p>
                    </a>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="btn-control next-btn" id="movieBtnNext"><i class="fa-solid fa-angle-right"></i></div>
    </div>
</div>


<div class="popular-container carousel-container m60auto">
    <h4>Popular Shows</h4>
    <div class="carousel-view">
        <div class="btn-control prev-btn" id="showBtnPrev" ><i class="fa-solid fa-angle-left"></i></div>
        <div class="carousel-item-list" id="showCarouselList">
            {% for page in popular_show_list %}
                {% for show in page["results"] %}
                    <a class="carousel-item" href="tvshow/{{ show["id"] }} ">
                        <img class="poster-img" src="https://image.tmdb.org/t/p/w440_and_h660_face/{{ show["poster_path"] }}" alt=""> 
                        <p class="carousel-item-p">{{ show["name"] }}</p>
                    </a>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="btn-control next-btn" id="showBtnNext"><i class="fa-solid fa-angle-right"></i></div>
    </div>
</div>


<div class="random-container flex fcenter gap t12 m80auto">
    <div class="random-box rb1">
        <div class="random-box-title">
            <div class="overlay"></div>
            <p class="random-p compare-p">A Random <br> Movie</p>
        </div>
        <a class="random-box-content rbc1" href="movie/{{ random_movie["id"] }}"">
            <img class="random-poster-img" src="https://image.tmdb.org/t/p/w440_and_h660_face/{{ random_movie["poster_path"] }}" alt=""> 
            <p class="carousel-item-p">{{ random_movie["title"] }} ({{ random_movie["vote_average"] }})</p>
        </a>
    </div>
    <div class="random-box rb2">
        <div class="random-box-title">
            <div class="overlay"></div>
            <p class="random-p compare-p">A Random <br> Show</p>
        </div>
        <a class="random-box-content rbc2" href="tvshow/{{ random_show["id"] }}"">
            <img class="random-poster-img" src="https://image.tmdb.org/t/p/w440_and_h660_face/{{ random_show["poster_path"] }}" alt=""> 
            <p class="carousel-item-p">{{ random_show["name"] }} ({{ random_show["vote_average"] }})</p>
        </a>
    </div>
</div>

<div class="top-container m60auto">
    <a class="top-box top-box-movies" href="/toprated">
        <div class="overlay"></div>
        <p class="compare-p top-p">Top 200 <br> Movies</p>
    </a>
    <a class="top-box top-box-shows" href="">
        <div class="overlay"></div>
        <p class="compare-p top-p">Top 100 <br> Shows</p>
    </a>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="./../static/main.js"></script>
<script>
    var currentResults = [];  // Store all search results
    var displayedResults = 10;  // Number of results to display initially

    function performSearch() {
        var query = document.getElementById('searchInput').value;
    
        $.ajax({
            type: 'POST',
            url: '/',
            data: { q: query },
            success: function(data) {
                currentResults = data.results;  // Assuming your API response has a 'results' property
    
                // Display the first 'displayedResults' results
                displayResults(currentResults.slice(0, displayedResults));
            },
            error: function(error) {
                console.log(error);
            }
        });
    }
    
    function displayResults(results) {
        var resultsContainer = document.getElementById('searchResults');
        resultsContainer.innerHTML = '';
    
        if (results.length === 0) {
            resultsContainer.innerHTML = 'No results found.';
            return;
        }
    
        var ul = document.createElement('ul');
        ul.classList.add("results");
        results.forEach(function(result) {
            var li = document.createElement('li');
            var link = document.createElement('a');
            if ((result.name)) {
                var dateStr = result.first_air_date || '';
                var year = dateStr.split('-', 1)[0];
                link.textContent = "Tv: " + result.name + " (" + year + ")";  // Shows the tv show title and its year
                link.setAttribute('href', 'tvshow/'+ result.id);
            } else {
                    var date2Str = result.release_date || '';
                    var year2 = date2Str.split('-', 1)[0];
                    link.textContent = "Movie: " + result.title + " (" + year2 + ")";  // Shows the tv show title and its year
                    link.setAttribute('href', 'movie/'+ result.id);
            }
            
            ul.appendChild(li);
            li.appendChild(link);
        });
    
        resultsContainer.appendChild(ul);
    
        // close results div if the user clicks outside the div
        window.addEventListener("click", function(e) {
            if (e.target != document.querySelector(".results")) {
                ul.remove();
            }
        });
    }

    document.getElementById("searchInput").addEventListener("keyup", function(event) {
        performSearch();
    })
    
</script>
{% endblock %}
