<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>shows rating</title>
        <link rel="stylesheet" href="./../static/styles.css">
    </head>
    <body>

        <form action="/" method="get">
            <input type="text" name="movie" placeholder="movie">
            <input type="submit" value="search">
        </form>

        <h2>{{ movie }}</h2>
        <p>list of movies:</p>
        <p>{{ response }}</p>

        <table>
            <thead>
                <tr>
                    <td>title</td>
                    <td>rating</td>
                </tr>
            </thead>
            <tbody>
                {% for item in json_response %}
                <tr>
                    <td>{{ item["original_title"] }}</td>
                    <td>{{ item["vote_average"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <div class="footer-container wrapper">
            <footer>
                <div>
                    <p>This product uses the TMDB API but is not endorsed or certified by TMDB
                    </p>
                    <a href="https://www.themoviedb.org/">
                        <img class="attribution" src="./../static/blue_long_2-attribution.svg" alt="">
                    </a>
                </div>
            </footer>
        </div>
    </body>
</html>
