<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href={{ url_for('static', filename='styles.css') }} rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <script type="text/javascript" src={{ url_for('static', filename='main.js') }}></script>
        <link rel="icon" href="data:;base64,iVBORwOKGO=" />

        <title>Comp m: {% block title %}{% endblock %}</title>

    </head>

    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <script>
                    var messages = {{ messages | safe }};
                    for (var i=0; i<messages.length; i++) {
                        alert(messages[i]);
                    }
                </script>
            {% endif %}
        {% endwith %}
        <!-- Nav that will change its elements if the user logged -->
        <nav class="bg-light border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbar">
                    {% if session["user_id"] %}
                        <ul class="nav-responsive green" id="myResponsiveNav">
                            <li class="nav-item"><a class="home nav-active" href="/">home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/layout">L A Y O U T</a></li>
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="/comparemovies">Compare Movies</a></li>
                            <li class="nav-item"><a class="nav-link" href="/comparetvshows">Compare Shows</a></li>
                            <li class="nav-item"><a class="nav-link" href="/data">Data</a></li>
                            <li class="nav-item"><a class="nav-link" href="/search">Old Search</a></li>
                            <li class="nav-item"><a class="nav-link" href="/toprated">Top Rated</a></li>
                            <li class="nav-item"><a class="nav-link" href="/test">test page</a></li>
                            <li class="nav-item"><a class="nav-link" href="/">...</a></li>
                            <li class="nav-item toggle-icon"><a href="javascript:void(0)" class="icon" onclick="navToggle()"><i class="fa fa-bars"></i></a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" onclick="showBox()" id="loginParent">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <h1>Hello {{ session["user"] }} from layout! </h1>
        <!-- Login form -->
        <form action="/login" method="post" id="loginChild">
            <input type="text" name="username" placeholder="username">
            <input type="text" name="password" placeholder="password">
            <input type="submit" value="login">
        </form>



        <main class="container py-5 text-center">
            {% block main %}{% endblock %}
        </main>

        <div class="footer-container wrapper">
            <footer>
                <div>
                    <p>This product uses the TMDB API but is not endorsed or certified by TMDB
                    </p>
                    <a href="https://www.themoviedb.org/">
                        <img class="attribution" src={{ url_for('static', filename='blue_long_2-attribution.svg')}}>
                    </a>
                </div>
            </footer>
        </div>

    </body>

</html>
