<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="./../static/styles.css" rel="stylesheet">
        <script src="./../static/main.js"></script>
        <title>Compare movies: {% block title %}{% endblock %}</title>

    </head>

    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <script>
                    var messages = {{ messages | safe }};
                    for (var i=0; i<messages.length; i++) {
                        alert(messages[i]);
                    }
                </script>
            {% endif %}
        {% endwith %}
        <!-- Nav that will change its elements if the user logged -->
        <nav class="bg-light border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">home""</a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    {% if session["user_id"] %}
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/">item</a></li>
                            <li class="nav-item"><a class="nav-link" href="/">item</a></li>
                            <li class="nav-item"><a class="nav-link" href="/">item</a></li>
                            <li class="nav-item"><a class="nav-link" href="/">item</a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" onclick="showBox()" id="loginParent">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <h1>Hello {{ name }}! </h1>
        <!-- Login form -->
        <form action="/layout" method="post" id="loginChild">
            <input type="text" name="username" placeholder="username">
            <input type="text" name="password" placeholder="password">
            <input type="submit" value="login">
        </form>



        <main class="container py-5 text-center">
            {% block main %}{% endblock %}
        </main>

        <div class="footer-container wrapper">
            <footer>
                <div>
                    <p>This product uses the TMDB API but is not endorsed or certified by TMDB
                    </p>
                    <a href="https://www.themoviedb.org/">
                        <img class="attribution" src="./../static/blue_long_2-attribution.svg" alt="">
                    </a>
                </div>
            </footer>
        </div>

    </body>

</html>
