{% extends "layout.html" %}

{% block title %}
    Movie
{% endblock %}

{% block main %}

<h1>Movie's Info</h1>
<div class="dedicated-container">
    <p class="subtitle">{{ movie_datas["title"]}}</p>
    <div class="dedicated-div">
        <div class="dedicated-img-container">
            <img class="dedicated-poster" src="https://image.tmdb.org/t/p/w500/{{ movie_datas["poster_path"] }}" alt="">
        </div>
        <div class="dedicated-text-container">
            <p>Original title: <span>{{movie_datas["original_title"]}}</span> </p>
            <p>Genre: 
                {% for genre in movie_datas["genres"]%}
                    <span class="list-to-fix">{{genre["name"]}}</span>
                {% endfor %}
            </p>
            <p>Production countries: 
                {% for country in movie_datas["production_countries"]%}
                    <span class="list-to-fix">{{country["name"]}}</span>
                {% endfor %}
            </p>
            <p>Runtime: <span>{{ movie_datas["runtime"]}} min</span></p>
            <p>Tagline: <span>"{{ movie_datas["tagline"]}}"</span></p>
            <p>Rating: 
                <i class="fa-solid fa-star"></i>
                <span class="vote-round">  {{ movie_datas["vote_average"] }} </span>
            </p>
            <p>N° of votes: <span>{{ movie_datas["vote_count"]}}</span></p>
            <p>Original language: <span class="original-language">{{ movie_datas["original_language"]}}</span></p>
            <p>Release year: <span class="dateToConvert">{{ movie_datas["release_date"]}}</span></p>    
            <p>Imdb link: 
                <a href="https://www.imdb.com/title/{{ movie_datas["imdb_id"]}}" class="link-imdb">{{ movie_datas["title"]}}</a>
            </p>
            <form class="dedicated-form" action="" method="post">
                <input class="btn" type="submit" name="favorite" value="{{ button_favorites }}"> 
                <input class="btn" type="submit" name="watchlist" value= "{{ button_watchlist }}"> 
            </form>
        </div>
    </div>

    <p class="subtitle">Plot<p>
    <p class="dedicated-plot"><span class="dedicated-plot">{{ movie_datas["overview"]}}</span></p>
    
    <div class="carousel-img-container carousel-container m60auto">
        <p class="subtitle">Posters</p>
        <div class="carousel-view">
            <div class="btn-control prev-btn" id="imgBtnPrev" ><i class="fa-solid fa-angle-left"></i></div>
            <div class="carousel-item-list" id="imgCarouselList">
                {% for item in imgMovie_datas["posters"] %}
                    {% if loop.index0 > 0  and loop.index < 9 %}
                    <div class="dedicated-img-container carousel-img-item">
                        <img class="dedicated-poster" src="https://image.tmdb.org/t/p/w500/{{ item["file_path"] }}" alt="">
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="btn-control next-btn" id="imgBtnNext"><i class="fa-solid fa-angle-right"></i></div>
        </div>
    </div>
</div>

<script>
    const toConvert = document.querySelectorAll('.dateToConvert');

    toConvert.forEach(element => {
        element.textContent = toYear(element.textContent);
    })

    const toRound = document.querySelectorAll('.vote-round');

    toRound.forEach(element => {
        element.textContent = toOneDecimal(element.textContent);
    })

</script>
{% endblock %}