{% extends "layout.html" %}

{% block title %}
    Movie
{% endblock %}

{% block main %}

<h1>Movie</h1>
<a href="https://api.themoviedb.org/3/configuration"></a>
<img src="https://image.tmdb.org/t/p/w500/{{ movie_datas["poster_path"] }}" alt="">
<form action="" method="post">
    <input class="btn" type="submit" name="favorite" value="{{ button_favorites }}"> 
    <input class="btn" type="submit" name="watchlist" value= "{{ button_watchlist }}"> 
</form>
<table>
    <thead>
        <tr>
            <td>title</td>
            <td>id</td>
            <td>overview</td>
            <td>genres</td>
            <td>imdb_id</td>
            <td>original_language</td>
            <td>original_title</td>
            <td>release_date</td>
            <td>runtime</td>
            <td>vote_average</td>
            <td>vote_count</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ movie_datas["title"]}}</td>
            <td>{{ movie_datas["id"]}}</td>
            <td>{{ movie_datas["overview"]}}</td>
            <td>
                {% for genre in movie_datas["genres"]%}
                <p>{{genre["name"]}}</p>
                {% endfor %}
            </td>
            <td>{{ movie_datas["imdb_id"]}}</td>
            <td>{{ movie_datas["original_language"]}}</td>
            <td>{{ movie_datas["original_title"]}}</td>
            <td>{{ movie_datas["release_date"]}}</td>
            <td>{{ movie_datas["runtime"]}}</td>
            <td>{{ movie_datas["vote_average"]}}</td>
            <td>{{ movie_datas["vote_count"]}}</td>
        </tr>
    </tbody>
</table>


{% endblock %}