{% extends "layout.html" %}

{% block title %}
    Movie
{% endblock %}

{% block main %}

<h1>Hello {{ user }}!</h1>
<h1>Movie</h1>
<a href="https://api.themoviedb.org/3/configuration"></a>
<img src="https://image.tmdb.org/t/p/w500/{{ movie_datas["poster_path"] }}" alt="">
<form action="" method="post">
    <input type="submit" name="add" value="{{ button }}">
</form>
<table>
    <thead>
        <tr>
            <td>title</td>
            <td>id</td>
            <td>overview</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ movie_datas["title"]}}</td>
            <td>{{ movie_datas["id"]}}</td>
            <td>{{ movie_datas["overview"]}}</td>
        </tr>
    </tbody>
</table>


{% endblock %}