{% extends "layout.html" %}

{% block title %}
    My Area
{% endblock %}

{% block main %}

<h2>personal favorites</h2>

<table>
    <th>
        <tr>
            <td>id</td>
            <td>username</td>
            <td>type</td>
            <td>title</td>
            <td>item_id</td>
            <td>vote_average</td>
            <td>category</td>
            <td>personal_rating</td>
        </tr>
    </th>
    <tbody>
        {% for favorite, movie_data in zip_list %}
        <tr>
            <td>{{ favorite["id"] }}</td>
            <td>{{ favorite["username"] }}</td>
            <td>{{ favorite["type"] }}</td>
            <td>{{ movie_data["title"] }}{{ movie_data["name"] }}</td>
            <td>{{ favorite["item_id"] }}</td>
            <td>{{ movie_data["vote_average"] }}</td>
            <td>{{ favorite["category"] }}</td>
            <td>{{ favorite["personal_rating"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>favorite episodes</h2>

<table>
    <thead>
        <tr>
            <td>id</td>
            <td>username</td>
            <td>show</td>
            <td>show id</td>
            <td>season</td>
            <td>episode</td>
            <td>episode title</td>
            <td>episode id</td>
        </tr>
    </thead>
    <tbody>
        {% for user_episode, episode_data in zip_list_episodes %}
        <tr>
            <td>{{ user_episode["id"] }}</td>
            <td>{{ user_episode["username"] }}</td>
            <td>{{ user_episode["show_title"] }}</td>
            <td>{{ user_episode["show_id"] }}</td>
            <td>{{ user_episode["season_number"] }}</td>
            <td>{{ user_episode["episode_number"] }}</td>
            <td>{{ episode_data["name"] }}</td>
            <td>{{ episode_data["id"] }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table><h2>compare episodes</h2>

<table>
    <thead>
        <tr>
            <td>username</td>
            <td>show</td>
            <td>ratings</td>
        </tr>
    </thead>
    <tbody>
        {% for item in episodes_ratings_list %}
        <tr>
            <td>{{ item["username"] }}</td>
            <td>{{ item["show_title"] }}</td>
            <td>{{ item["episodes_ratings"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}