{% extends "layout.html" %}

{% block title %}
    My Area
{% endblock %}

{% block main %}

{% if session["user_id"] %}
    <h1>Hello {{ session["user"] }}, welcome to your personal area! </h1>
{% endif %}

<h2 class="myarea-h2">Favorite Shows & Movies</h2>

<a class="nav-link" href="/data">Data</a>


<div class="myarea-container">
    {% for favorite, movie_data in zip_list_favorites %}
    <div class="item-container">
        <div>
            <p class="item-type">{{ favorite["type"] }}</p>
            <img class="item-poster" src="https://image.tmdb.org/t/p/w440_and_h660_face/{{ movie_data['poster_path'] }}" alt="">
            <form action="" method="post" class="item-remove">
                <input type="hidden" name="movie_id_favorite" value="{{ favorite["item_id"] }}">
                <button type="submit" class="btn btn-myarea">Remove</button> 
            </form>    
        </div>
        <div class="item-text">
            <div>
                <a class="item-title top-item-title" href="tvshow/{{ movie_data["id"] }} ">
                    {{ movie_data["title"] }}{{ movie_data["name"] }}
                    (<span class="dateToConvert">{{ movie_data["first_air_date"]}}{{ movie_data["release_date"]}}</span>)    
                </a>
            </div>
            <div class="vote-box language-box">
                <i class="fa-solid fa-star"></i> <span class="vote-round">  {{ movie_data["vote_average"] }} </span>
                - <span class="original-language">{{ movie_data["original_language"]}}</span>
            </div>
            <p class="item-plot">{{ movie_data["overview"] }}</p>
        </div>
    </div>
    {% endfor %}
</div>


<h2 class="myarea-h2 morespace">Watchlist</h2>


<div class="myarea-container">
    {% for favorite, movie_data in zip_list_watchlist %}
    <div class="item-container">
        <div>
            <p class="item-type">{{ favorite["type"] }}</p>
            <img class="item-poster" src="https://image.tmdb.org/t/p/w440_and_h660_face/{{ movie_data['poster_path'] }}" alt="">
            <form action="" method="post" class="item-remove">
                <input type="hidden" name="movie_id_favorite" value="{{ favorite["item_id"] }}">
                <button type="submit" class="btn">Remove</button> 
            </form>    
        </div>
        <div class="item-text">
            <div>
                <a class="item-title top-item-title" href="tvshow/{{ movie_data["id"] }} ">
                    {{ movie_data["title"] }}{{ movie_data["name"] }}
                    (<span class="dateToConvert">{{ movie_data["first_air_date"]}}{{ movie_data["release_date"]}}</span>)    
                </a>
            </div>
            <div class="vote-box language-box">
                <i class="fa-solid fa-star"></i> <span class="vote-round">  {{ movie_data["vote_average"] }} </span>
                - <span class="original-language">{{ movie_data["original_language"]}}</span>
            </div>
            <p class="item-plot">{{ movie_data["overview"] }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<h2 class="myarea-h2 morespace">Favorite Episodes</h2>

.size-container {
    margin: 20px auto;
    width: fit-content;
}

.size-container input {
    width: 50px;
}

.size-container button {
    background-color: antiquewhite;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 4px 8px;
    transition: .3s;
}

.size-container button:hover {
    cursor: pointer;
    background-color: #ffe2bb;
    transition: .3s;
}


<div class="myarea-container">
    {% for user_episode, episode_data in zip_list_episodes %}
    <div class="item-container">
        <div>
            <p class="item-type">S{{ user_episode["season_number"] }}E{{ user_episode["episode_number"] }}</p>
            <img class="item-poster" src="https://image.tmdb.org/t/p/w440_and_h660_face/{{ episode_data['still_path'] }}" alt="">
            <form action="" method="post" class="item-remove">
                <input type="hidden" name="episode_id_favorite" value="{{ episode_data["episode_id"] }}">
                <button type="submit" class="btn">Remove</button> 
            </form>    
        </div>
        <div class="item-text">
            <div class="item-text">
                <div>
                    <a class="item-title top-item-title" href="">
                        {{ user_episode["show_title"] }}: "{{ episode_data["name"] }}" 
                        (<span >{{ episode_data["air_date"]}}</span>)
                    </a>
                </div>
                <div class="vote-box language-box">
                    <i class="fa-solid fa-star"></i> <span class="vote-round">  {{ episode_data["vote_average"] }} </span>
                     - <span> {{ episode_data["runtime"]}} min</span>
                </div>
                <p class="item-plot">{{ episode_data["overview"] }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    const toConvert = document.querySelectorAll('.dateToConvert');

    toConvert.forEach(element => {
        element.textContent = toYear(element.textContent);
    })

    const toRound = document.querySelectorAll('.vote-round');

    toRound.forEach(element => {
        element.textContent = toOneDecimal(element.textContent);
    })

    const firstToUpper = document.querySelectorAll('.original-language');
    
    firstToUpper.forEach(element => {
        toUpper(element)
    })
</script>

{% endblock %}