{% extends "layout.html" %}

{% block title %}
    Movie
{% endblock %}

{% block main %}

<form class="register-form" action="/register" method="post">
    <p>Choose your username to sign up</p>
    <input class="register-input" type="text" name="mail" placeholder="mail">
    <input class="register-input" type="text" name="username" placeholder="username">
    <input class="register-input" type="password" name="password" placeholder="password">
    <input class="register-input" type="password" name="confirm" placeholder="confirm">
    <input class="btn" type="submit" value="signup">
</form>


{% endblock %}