{% extends "layout.html" %}

{% block title %}
    Movie
{% endblock %}

{% block main %}

<form class="register-form" action="/register" method="post">
    <p>Choose your username to sign up</p>
    <input class="register-input" type="text" name="username" placeholder="username">
    {% if errors.username %}
        <span class="error-message">{{ errors.username }}</span>
    {% endif %}
    {% if errors.usernamexists %}
        <span class="error-message">{{ errors.usernamexists }}</span>
    {% endif %}
    <!-- <input class="register-input" type="text" name="mail" placeholder="mail"> -->
    <!-- {% if errors.mail %}
        <span class="error-message">{{ errors.mail }}</span>
    {% endif %} -->
    <input class="register-input" type="password" name="password" placeholder="password">
    {% if errors.password %}
        <span class="error-message">{{ errors.password }}</span>
    {% endif %}
    {% if errors.passwordlength %}
        <span class="error-message">{{ errors.passwordlength }}</span>
    {% endif %}
    {% if errors.passwordchars %}
        <span class="error-message">{{ errors.passwordchars }}</span>
    {% endif %}
    <input class="register-input" type="password" name="confirm" placeholder="confirm">
    {% if errors.passwordwrong %}
        <span class="error-message">{{ errors.passwordwrong }}</span>
    {% endif %}
    <input class="btn" type="submit" value="signup">
</form>


{% endblock %}