{% extends "layout.html" %}

{% block title %}
    Test page
{% endblock %}

{% block main %}

<button class="btn">navigate to</button>
<button class="btn btn-neg">remove</button>
<button class="btn btn-login">login</button>
<button class="btn ">sign up</button>


<table>
    <thead>
        <tr>
            <td>n°</td>
            <td>title</td>
            <td>rating</td>
            <td>n of votes</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <div class="random-box-content">
                <a class="aaa" href="movie/{{ movie["id"] }}"">
                    <img class="poster-img" style="width: 300px;" src="https://image.tmdb.org/t/p/w440_and_h660_face/{{ movie["poster_path"] }}" alt=""> 
                    <p class="carousel-item-p">{{ movie["title"] }}</p>
                </a>
            </div>
        </tr>
    </tbody>

    <div class="prova">
        <div class="a">
            HOVER
        </div>
        <div class="b">
            CONTENT
        </div>
    </div>
</table>

{% endblock %}