{% extends "layout.html" %}

{% block title %}
    Top rated
{% endblock %}

{% block main %}



<table>
    <thead>
        <tr>
            <td>n°</td>
            <td>title</td>
            <td>rating</td>
            <td>n of votes</td>
        </tr>
    </thead>
    <tbody>
        <h1 id="compareMovie">Top 200 rated movies of all time</h1>

        {% set counter = namespace(value=1) %}
        {% for page in response_list %}
            {% for movie in page["results"] %}
            <div class="top-item-container">
                <div>
                    <div class="counter">{{ counter.value}}</div>
                    {% set counter.value = counter.value + 1 %}
                    <img class="top-movie-poster" src="https://image.tmdb.org/t/p/w440_and_h660_face/{{ movie['poster_path'] }}" alt="">

                    <div class="top-item-text-box">
                        <div>
                            <a class="item-title top-item-title" href="movie/{{ movie["id"] }} ">
                                {{ movie["title"] }}
                                (<span class="dateToConvert">{{ movie["release_date"]}}</span>)    
                            </a>
                        </div>
                        <div class="vote-box language-box">
                            <span class="vote-round">{{ movie["vote_average"] }} </span></p>
                            <span>{{ movie["original_language"]}}</span>
                        </div>
                        <div class="top-item-plot">{{ movie["overview"] }}</div>
                    </div>

                    

                </div>
            </div>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

<script>
    const toConvert = document.querySelectorAll('.dateToConvert');
    //console.log(toConvert);
    toConvert.forEach(element => {
        const dateString = element.textContent;
        //console.log(dateString);
        const date = new Date(dateString);
        const year = date.getFullYear();
        //console.log(year);
        element.textContent = year;
    })

    const voteToRound = document.querySelectorAll('.vote-round');
    voteToRound.forEach(element => {
        const rounded = parseFloat(element.textContent).toFixed(1);
        //console.log(rounded);
        element.textContent = rounded;
    })

</script>
{% endblock %}