{% extends "layout.html" %}

{% block title %}
    Top rated shows
{% endblock %}

{% block main %}



<table>
    <thead>
        <tr>
            <td>n°</td>
            <td>title</td>
            <td>rating</td>
            <td>n of votes</td>
        </tr>
    </thead>
    <tbody>
        <h1 id="compareMovie">Top 100 rated shows of all time</h1>

        {% set counter = namespace(value=1) %}
        {% for page in response_list %}
            {% for show in page["results"] %}
            <div class="top-item-container">
                <div>
                    <div class="counter">{{ counter.value}}</div>
                    {% set counter.value = counter.value + 1 %}
                    <img class="top-poster" src="https://image.tmdb.org/t/p/w440_and_h660_face/{{ show['poster_path'] }}" alt="">

                    <div class="top-item-text-box">
                        <div>
                            <a class="item-title top-item-title" href="show/{{ show["id"] }} ">
                                {{ show["name"] }}
                                (<span class="dateToConvert">{{ show["first_air_date"]}}</span>)    
                            </a>
                        </div>
                        <div class="vote-box language-box">
                            <div>
                                <i class="fa-solid fa-star"></i>
                                <span class="vote-round">  {{ show["vote_average"] }} </span></p>
                            </div>
                            - <span class="original-language">{{ show["original_language"]}}</span>
                        </div>
                        <div class="top-item-plot">{{ show["overview"] }}</div>
                    </div>

                    

                </div>
            </div>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

<script>
    const toConvert = document.querySelectorAll('.dateToConvert');

    toConvert.forEach(element => {
        element.textContent = toYear(element.textContent);
    })

    const voteToRound = document.querySelectorAll('.vote-round');
    voteToRound.forEach(element => {
        const rounded = parseFloat(element.textContent).toFixed(1);
        //console.log(rounded);
        element.textContent = rounded;
    })

    const firstToUpper = document.querySelectorAll('.original-language');
    firstToUpper.forEach(element => {
        const firstLetter = element.textContent.charAt(0);
        const remainingLetters = element.textContent.slice(1);
        const firstLetterUp = firstLetter.toUpperCase();
        element.textContent = firstLetterUp + remainingLetters;
        //console.log (firstLetterUp); 
    })

</script>
{% endblock %}