{% extends "layout.html" %}

{% block title %}
    Tv Show
{% endblock %}

{% block main %}

<h1>Tv Show</h1>
<a href="https://api.themoviedb.org/3/configuration"></a>
<img src="https://image.tmdb.org/t/p/w500/{{ show_datas["poster_path"] }}" alt="">
<form action="" method="post">
    <input type="submit" name="favorite" value="{{ button_favorites }}"> 
    <input type="submit" name="watchlist" value= "{{ button_watchlist }}"> 
    <input type="submit" name="compare" value= "compare"> 
</form>

<h1>Series overview</h1>
<table>
    <thead>
        <tr>
            <td>title</td>
            <td>id</td>
            <td>overview</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ show_datas["name"]}}</td>
            <td>{{ show_datas["id"]}}</td>
            <td>{{ show_datas["overview"]}}</td>
        </tr>
    </tbody>
</table>

<p>{{ session["ratings"] }}</p>
<p>{{ session["numberEpisodes"] }}</p>

{% set totalnumber = namespace(num = 0) %}
{% set nseason = namespace(num1 = 0) %}

{% for list in session["ratings"] %}

    {% set relativenumber = namespace(num2 = 0) %}
    {% set nseason.num1 = nseason.num1 + 1 %}

    {% for episode in list %}
        {% set totalnumber.num = totalnumber.num + 1%}
        {% set relativenumber.num2 = relativenumber.num2 + 1%}
        <p>episode {{ totalnumber.num }}, S{{ nseason.num1 }}E{{ relativenumber.num2 }}</p>
    {% endfor %}
{% endfor %}

<div>
    <canvas id="myChart" style="width:100%; max-width:700px;"></canvas>
</div>

<script>

var xyValues = [];
var x;
var y;
var tempList = {{session["ratings"]}};
objectCounter = 0;

for(s = 1; s < tempList.length +1; s++) {
    for (e = 1; e < tempList[s-1].length +1; e++) {
        xyValues.push({ x: objectCounter +1, y: tempList[s-1][e-1], z: ` S${s}E${e}`});
        console.log("s" + s + "e" + e);
        objectCounter++;
    }
}

console.log(tempList);
console.log("xyValues is", xyValues);
console.log("xyValues is", xyValues[0].z);
console.log(objectCounter);



new Chart("myChart", {
  type: "scatter",
  data: {
    datasets: [{
      pointRadius: 4,
      pointBackgroundColor: "rgb(0,0,255)",
      data: xyValues
    }]
  },
  options: {
    // events:['click'],
    legend: {display: false},
    scales: {
      xAxes: [{ticks: {min: 0, max:objectCounter}}],
      yAxes: [{ticks: {min: 0, max:10}}],
    },
    tooltips: {
                enabled: true,
                mode: 'single',
                callbacks: {
                    label: function(tooltipItem, xyValues) { 
                        var dataset = xyValues.datasets[tooltipItem.datasetIndex];
                        var point = dataset.data[tooltipItem.index];
                        return point.z + ' (episode ' + point.x + ')' + ', vote:' + point.y;
                    }
                }
            },
  }
});

</script>

<h1>Episodes</h1>
{% set iterate = namespace(num = 0) %}
{% for season in range(1, number_of_seasons + 1) %}
    <button id="button-{{season}}" class="button-season-class" onclick="seasonToggle({{ season }})">Season {{ season }}</button>

    <table id="table-{{season}}" class="table-season-class">
        <thead>
            <tr>
                <td>Season</td>
                <td>Episode</td>
                <td>Title</td>
                <td>ID</td>
                <td>Air date</td>
                <td>Overview</td>
                <td>Rating</td>
            </tr>
        </thead>
        <tbody>
            {% set iterateEpisodes = namespace(seasonEpisode = 0) %}
            {% for episode in episodes_data %}
                {% if episode["season_number"] == season %}
                {% set iterateEpisodes.seasonEpisode = iterateEpisodes.seasonEpisode + 1 %}
                {% set iterate.num = iterate.num + 1 %}
                <tr>
                    <td>{{ episode["season_number"] }}</td>
                    <td>{{ episode["episode_number"] }}</td>
                    <td><a href="tv/{{ show_datas['id'] }}/season/{{season}}/episode/{{iterateEpisodes.seasonEpisode}} ">{{ episode["original_title"] }} {{ episode["name"] }}</a></td>
                    <td>{{ episode["id"] }}</td>
                    <td>{{ episode["air_date"] }}</td>
                    <td>{{ episode["overview"] }}</td>
                    <td>{{ episode["vote_average"] }}</td>
                    <td>
                        <form action="" method="post">
                            <button type="submit" name="favorite_episodes" value="{{ episode }}"> <span>{{ button_favorite_episodes[iterate.num - 1] }} {{ iterate.num }} </span> 
                        </form>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endfor %}





{% endblock %}